/* Global */

body {
  margin: 0;
}

a:visited {
  text-decoration: none;
  color: #e3871a;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-family: montserrat, sans-serif;
}

h2,
h3 {
  font-family: ff-cocon-pro, sans-serif;
  color: #002d5b;
}

h4 {
  font-family: montserrat-bold;
  color: #002d5b;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.list-style-none {
  list-style: none;
}

.p-0 {
  padding: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.m-0 {
  margin: 0;
}

/*Fonts*/
.merengue {
  font-family: merengue-script, sans-serif;
  font-weight: 400;
  font-size: 42px;
  font-style: normal;
}

.cocon {
  font-family: ff-cocon-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Navigation */

#toggle {
  display: none;
}

#overlay {
  display: none;
}

#mobile-nav {
  padding: 1rem;
  position: sticky;
  top: 0;
  background: #002d5b;
  display: flex;
  align-items: center;
  z-index: 1000;
}

#mobile-nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: ff-cocon-pro, sans-serif;
  color: #e3871a;
}

#daybreakery-mobile {
  font-family: merengue-script, sans-serif !important;
  font-size: 34px !important;
}

.fa-bars {
  color: #e3871a;
  font-size: 35px;
}

#desktop-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background: #002d5b;
  padding: 10px;
  position: sticky;
}

#desktop-nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: ff-cocon-pro, sans-serif;
  color: #e3871a;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.fa-star {
  color: #e3871a;
  font-size: 10px;
}

#desktop-nav i {
  display: flex;
  align-items: center;
}

#daybreakery-desktop {
  padding-left: 50px;
  padding-right: 50px;
  font-family: merengue-script, sans-serif !important;
  font-size: 34px !important;
}

@media (max-width: 767px) {
  #desktop-nav {
    display: none;
  }
  #items {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    background: #002d5b;
    width: 100%;
  }

  #items.active {
    display: block;
  }

  #items > li {
    margin: 1rem 0;
  }

  #items a {
    color: #e3871a;
  }

  #toggle {
    display: block;
  }
}

.enter-button {
  background-color: #e3871a;
  border: none;
  padding: 10px 25px;
  border-radius: 32px;
  text-decoration: none;
  font-size: 16px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  outline: none;
}

#welcome-text {
  font-size: 30px;
}

#home-header-text {
  font-size: 64px;
}

/* video overlay */
header {
  height: calc(100vh - 72px);
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 45, 91, 0.64);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.video-overlay > div {
  color: #e3871a;
  text-align: center;
}

.video-overlay a {
  color: white;
  text-decoration: none;
}

.introduction {
  font-size: 16px;
  line-height: 24px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin: 50px 0;
}

.introduction p {
  max-width: 75ch;
  margin: 0 auto;
}

/* Homepage header */
.home-header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* Homepage cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.card-headers {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.cards {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.cards > div {
  flex: 1 0;
  margin: 0 10px;
}

.card-img {
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.container {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.container > p {
  padding: 0 20px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.card-button {
  background-color: #e3871a;
  color: white !important;
  border: none;
  padding: 6px 15px;
  border-radius: 32px;
  text-decoration: none;
  font-size: 12px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  outline: none;
  float: right;
}

.card-buttons {
  padding-right: 30px;
}

/*Footer*/
footer {
  background-color: #002d5b;
  color: #e3871a;
  font-family: montserrat, sans-serif;
  padding-top: 10px;
}

footer > p {
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
  border-top: 0.0001px solid #5f626481;
  padding-top: 20px;
}

.footer-hours > h3 {
  color: #e3871a;
}

.footer-contact > h3 {
  color: #e3871a;
}

/* Credits Page */
.credits-header {
  display: flex;
  justify-content: center;
}
.all-credits {
  padding-left: 20px;
  padding-bottom: 50px;
}

/* Menu */

.menu-heading {
  display: flex;
  justify-content: center;
}

.menu {
  padding-bottom: 50px;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .menu {
    max-width: 300px;
  }
}

.menu > ul {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}
.leaders span:first-child {
  padding-right: 0.33em;
  background: white;
}
.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white;
}

/* About */
.about-header {
  height: 500px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-intro {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 24px;
  max-width: 75ch;
  margin: 0 auto;
}

.faqs {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px 75px 30px;
}
.top-accordion {
  border-radius: 30px 30px 0px 0px;
}

.bottom-accordion {
  border-radius: 0px 0px 30px 30px;
}

.accordion {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 18px;
  width: 100%;
  text-align: left;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  outline: none;
  font-family: montserrat, sans-serif;
  font-size: 16px;
}

.active,
.accordion:hover {
  background-color: rgba(128, 128, 128, 0.459);
}

.bottom-accordion.active {
  border-radius: 0px 0px 0px 0px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: grey;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796";
}

/* Gallery */

.gallery-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 0 40px;
  padding-bottom: 40px;
}

.gallery-column img {
  margin-bottom: 8px;
  width: 100%;
  height: auto;
  display: block;
}

.gallery-header {
  display: flex;
  justify-content: center;
}

/* Responsive layout - makes a two column-layout instead of four columns - from w3schools*/
@media screen and (max-width: 800px) {
  .gallery-row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hours-and-contact {
    padding: 30px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other -from w3schools */
@media screen and (max-width: 600px) {
  .gallery-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: space-around;
  }

  .all-credits {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  .column {
    padding: 50px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #mobile-nav {
    display: none;
  }

  .hours-and-contact {
    display: flex;
    justify-content: center;
    max-width: 75ch;
    margin: 0 auto;
  }

  .footer-hours {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-contact,
  .footer-hours {
    width: 100%;
  }
}
